.sin-fav {
    font-size: 22px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
}

.fav-list {
    padding: 0 10px;
}

.ion-no-padding {
    font-size: 1em;
}

.duracion {
    font-size: 0.8em;
    margin-left: 4px;
}

.titulo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
}