<ion-content>
  <h6 class="titulo">ELIGE UNO O MÁS SERVICIOS</h6>

  <ion-grid class="filtros">
    <ion-row>
      <ion-col size="12">
        <ion-searchbar
          id="search"
          cancelButtonText="Custom Cancel"
          placeholder="Busca un tratamiento..."
          (keyup)="buscarServicio($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label style="font-family: 'Quicksand', sans-serif; font-weight: bold;">Selecciona categoría</ion-label>
          <ion-select
            interface="popover"
            value="00" 
            (ionChange)="buscarPorCategoria($event)"
            id="select"
            cancelText="Cancelar"
            okText="Elegir"
          >
            <ion-select-option value="00" style="font-family: 'Quicksand', sans-serif;">Todos los servicios</ion-select-option>
            <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.id}}" style="font-family: 'Quicksand', sans-serif;">
              {{ categoria.nombre | titlecase }}
            </ion-select-option>
          </ion-select>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="categoriasTemp.length === 0 && sinResultados === false">
    <div *ngFor="let categoria of categorias" class="categoria">
      <p class="text-secondary titulo-categoria">
        {{ categoria.nombre | uppercase }}
      </p>

      <div *ngIf="serviciosTemp.length === 0">
        <div *ngFor="let servicio of servicios" class="mt-3">
          <ion-item
            class="ion-no-padding"
            *ngIf="categoria.id === servicio.categoria"
            style="cursor: pointer;"
            (click)="openActionSheet(servicio)"
          >
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="10">
                  <strong style="margin: 0"
                    >{{ servicio.nombre | titlecase}}</strong
                  >
                  <span class="duracion text-secondary"
                    >{{ getHoras(servicio.duracion) }}</span
                  >
                </ion-col>
                <ion-col size="2" class="text-end">
                  <strong>{{ servicio.precio.toFixed(2) }}€</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </div>

      <div *ngIf="serviciosTemp.length !== 0">
        <div *ngFor="let servicio of serviciosTemp" class="mt-3">
          <ion-item
            class="ion-no-padding"
            *ngIf="categoria.id === servicio.categoria"
            style="cursor: pointer;"
            (click)="openActionSheet(servicio)"
          >
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="10">
                  <strong style="margin: 0"
                    >{{ servicio.nombre | titlecase}}</strong
                  >
                  <span class="duracion text-secondary"
                    >{{ getHoras(servicio.duracion) }}</span
                  >
                </ion-col>
                <ion-col size="2" class="text-end">
                  <strong>{{ servicio.precio.toFixed(2) }}€</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="categoriasTemp.length !== 0">
    <div *ngFor="let categoria of categoriasTemp" class="categoria">
      <p class="text-secondary titulo-categoria">
        {{ categoria.nombre | uppercase }}
      </p>

      <div *ngIf="serviciosTemp.length === 0">
        <div *ngFor="let servicio of servicios" class="mt-3">
          <ion-item
            class="ion-no-padding"
            *ngIf="categoria.id === servicio.categoria"
            style="cursor: pointer;"
            (click)="openActionSheet(servicio)"
          >
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="10">
                  <strong style="margin: 0"
                    >{{ servicio.nombre | titlecase}}</strong
                  >
                  <span class="duracion text-secondary"
                    >{{ getHoras(servicio.duracion) }}</span
                  >
                </ion-col>
                <ion-col size="2" class="text-end">
                  <strong>{{ servicio.precio.toFixed(2) }}€</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </div>

      <div *ngIf="serviciosTemp.length !== 0">
        <div *ngFor="let servicio of serviciosTemp" class="mt-3">
          <ion-item
            class="ion-no-padding"
            *ngIf="categoria.id === servicio.categoria"
            style="cursor: pointer;"
            (click)="openActionSheet(servicio)"
          >
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="10">
                  <strong style="margin: 0"
                    >{{ servicio.nombre | titlecase}}</strong
                  >
                  <span class="duracion text-secondary"
                    >{{ getHoras(servicio.duracion) }}</span
                  >
                </ion-col>
                <ion-col size="2" class="text-end">
                  <strong>{{ servicio.precio.toFixed(2) }}€</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="categoriasTemp.length === 0 && sinResultados === true"
    class="p-3"
  >
    <p class="text-center">No hay resultados con su búsqueda.</p>
    <p class="text-center text-secondary">
      Intente con algunas de las siguientes palabras: corte, mechas, peinado,
      etc
    </p>
    <p class="text-center text-secondary"></p>
  </div>
</ion-content>
