.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

ion-card {
    padding: 20px;
    box-shadow: none;
}

* {
    font-family: 'Quicksand', sans-serif;
}

ion-button, ion-card-title {
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #121212;
    }
}