* {
    font-family: 'Quicksand', sans-serif;
}

.calendario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.horario img {
    width: 130px;
    margin-bottom: 10px;
}

.info-hora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}