<ion-content>
    <!-- <div class="container-fluid px-0">
        <div class="row bg-dark h-100">
            <div class="col-12 px-0">
                <app-carousel [items]="carouselData"></app-carousel>
            </div>
        </div>
    </div> -->

    <ion-grid class="servicios">
        <ion-row>
            <ion-col>
                <h2 class="title">Descubre los servicios</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/corte.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/peinados.webp" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/tintes.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/mechas.webp" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/maquillaje.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/facial.webp" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/manicura.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/pedicura.webp" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/masaje.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/depilacion.webp" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


