<ion-content>
    <!-- <div class="container-fluid px-0">
        <div class="row bg-dark h-100">
            <div class="col-12 px-0">
                <app-carousel [items]="carouselData"></app-carousel>
            </div>
        </div>
    </div> -->

    <ion-grid >
        <ion-row class="logo">
            <ion-col>
                <img *ngIf="!modoOscuro" src="assets/logo.png" alt="logo" style="width: 70%; margin: 20px 0;">
                <img *ngIf="modoOscuro" src="assets/logo-dark.png" alt="logo" style="width: 70%; margin: 20px 0;">
            </ion-col>
        </ion-row>
        <ion-row class="question">
            <ion-col size="12">
                <h1>Hola<span *ngIf="isLogged"> {{ nombre | titlecase }}</span>, </h1>
                <h1>¿Qué quieres hacer?</h1>
            </ion-col>
        </ion-row>
        <ion-row class="boton">
            <ion-col>
                <ion-button expand="block" (click)="router.navigate(['/login'])" *ngIf="!isLogged">INICIAR SESIÓN</ion-button>
                <ion-button expand="block" (click)="router.navigate(['/perfil'])" *ngIf="isLogged">VER TUS RESERVAS</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="servicios">
        <ion-row>
            <ion-col>
                <h2 class="title">Descubre los servicios</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/corte.red.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/peinados.red.webp" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/tintes.red.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/mechas.red.webp" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/maquillaje.red.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/facial.red.webp" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/manicura.red.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/pedicura.red.webp" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <img src="assets/home/masaje.red.webp" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="assets/home/depilacion.red.webp" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


