.title {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 15px;
}

ion-col img {
    border-radius: 10px;
    cursor: pointer;
    width: 97%;
}

.servicios ion-row {
    padding: 0 20px;
}