.fav-list {
    padding: 0 10px;
}

.sin-reservas {
    font-size: 22px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
}

.card {
    border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #1e1e1e;
    }
}