* {
    font-family: 'Quicksand', sans-serif;
}

.fav-list {
    padding: 0 10px;
}

.sin-reservas {
    font-size: 22px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
}

.card {
    border-radius: 20px;
}

.enlace {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: rgb(96, 96, 255);
    text-decoration: underline;
}

.enlace ion-text {
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
}

.info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: rgb(96, 96, 255);
    text-decoration: underline;
}

.info p {
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #1e1e1e;
    }
}