.container {
    padding: 20px;
}

* {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    text-align: center;
    font-weight: bold;
}

p {
    text-align: justify;
}

ion-toolbar {
    margin-top: 20px;
}

ion-chip {
    padding: 20px;
}

ion-label {
    font-size: 1.5em;
    font-weight: bold;
}

.button {
    font-weight: bold;
}

