<ion-content>
  <div class="container">
    <h3>{{ servicio.nombre | titlecase }}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum et corrupti, unde laboriosam alias sunt ex. Labore earum, maxime eaque qui mollitia sunt voluptates vero, reprehenderit quasi dolorum explicabo!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum reiciendis totam itaque harum repellendus quasi fuga unde eveniet recusandae, alias a exercitationem, vero voluptates laudantium. Quibusdam sed iste sequi ipsam!</p>
  </div>
</ion-content>
