<ion-content>
  <div class="card">
    <ion-card>
      <ion-card-content>
        <ion-card-title class="ion-text-center mt-4">RECUPERACIÓN DE CONTRASEÑA</ion-card-title>
        <form [formGroup]="emailForm" (ngSubmit)="enviarEmail()">
          <ion-item class="full-width-input mt-4 ion-no-padding">
            <ion-input
              formControlName="email"
              placeholder="Dirección de correo electrónico"
              type="text"
              required
            ></ion-input>
          </ion-item>
          <p *ngIf="esValido('email')" class="danger">
            {{ mostrarError('email') }}
          </p>

          <ion-button 
            type="submit" 
            expand="block"
            class="mt-4 mb-3"
          >RECUPERAR CONTRASEÑA</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
