.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

ion-card {
    padding: 20px;
    box-shadow: none;
}

ion-input {
    text-align: start;
    color:#757575;
}

.danger {
    color: red;
    text-align: left;
    margin-top: 5px;
    font-size: 13px;
}

* {
    font-family: 'Quicksand', sans-serif;
}

ion-button, ion-card-title {
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #121212;
    }

    ion-input {
        color: white;
    }
}